*.class
*.DS_Store
*.lock
*.swp
.settings/
.settings
target/
bin/
.classpath
.idea
test/
rebel.xml
*.eml
*.project
*.tmp
._*
classes/
.mymetadata
.metadata
*.iml
.springBeans
jetty-contexts.xml
compile.sh
lh-lhcic-smart-mgt-plat-rpc-web/sh/
lh-lhcic-smart-mgt-plat-rpc-web/apidoc